/dts-v1/;
/include/ "xtfpga.dtsi"

/ {
	compatible = "cdns,xtensa-shabu";
	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xfd050020,115200n8 console=ttyS0,115200n8 ip=dhcp root=/dev/nfs rw debug memmap=0x06000000,0x1000$0x1000";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x08000000>;
	};

	soc {
		xf: xf@0d020000 {
			compatible = "cdns,xf_ml605";
			reg = <0x0d020000 0x20>;
			interrupts = <8 1>;
		};
	};
};
